<h1>{{title}}</h1>
<div class = 'row' style="margin-top:50px">
        {{#each categories}}
            {{#with this}}
                <div class = "col-8">{{>category}}</div> 
            {{/with}}
        {{/each}}
    
</div>