<form action = "/list/form_entry?category_id={{_id}}" method="POST">
	<p>Entry:</p>
	<input name="entry_name" />
	<p>Beneifts:</p>
	<input name="entry_benefits" />
	<p></p>
	<button type="submit">ADD</button>
</form>
<a href="/">Back</a> 