<form action = "/list/form_category" method="POST">
	<p>Category name:</p>
	<input name="category_name" />
	<p>Benefits:</p>
	<input name="category_benefits" />
	<p></p>
	<button type="submit">ADD</button>
</form>
<a href="/">Back</a> 